################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aaGalaxyBackup/bin/Debug/aaGalaxyBackup.dll
/aaGalaxyBackup/bin/Debug
